html {
    --max-width: 40em;
    --zoom: 120%;
    --line-height: 1.5;
    --link-decoration: none;

    --varfont: sans-serif;
    --fixfont: monospace;
    --varfont-size: 1.0em;
    --fixfont-size: 0.8em;

    --fg: #111111;
    --bg: #eeeeee;
    --bg-img: none;

    --link-color: #667292;
    --active-color: #86bf3f;
    --visited-color: #b9b0b2;
    --hover-color: #82b74b;

    --codefg: #111111;
    --codebg: #f4f4f2;

    --table-fg: #000000;
    --table-header-bg: #adbabf;
    --table-content-bg: #d3d3d3;
}
