html {
--max-width: 40em;
--line-height: 1.5;
--varfont: 1.2em sans-serif;
--fixfont: 1.0em monospace;
--fg: #111111;
--bg: #eeeeee;
--codefg: #111111;
--codebg: #f4f4f2;
--link-color: #667292;
--active-color: #86bf3f;
--visited-color: #b9b0b2;
--hover-color: #82b74b;
--link-decoration: none;
}
