body {
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .62em;
    background: #09150B;
	color: #AABFAD;
    font: 1.5em/1.62 sans-serif;
    font-family: helvetica, arial,sans-serif;
	line-height: 1.5;
    zoom: 100%;
}
footer {
    font: 0.9em/1.5 sans-serif;
}
